.result_form
  .result
    = image_tag("result1.jpg")
  =render "header"
  -if @form == 1
    .result_form__1
      = @result.ssr
      = @result.sr
      = @result.r
      %input.data{:class=>"data", :type=>"hidden" , :name=>"data", :value=>@val}
      %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@result.ssr}
      %input.data{:class=>"SR", :type=>"hidden" , :name=>"data2", :value=>@result.sr}
      %input.data{:class=>"R", :type=>"hidden" , :name=>"data3", :value=>@result.r}
    .result_form__2
    .result_form__footer
      %a{href: form_path,class:"Editlink"} ガチャ回数入力に戻る<br>
      %a{href: root_path,class:"Editlink"} トップに戻る<br>
      GachaSimulator2020
  -else
    .result_form__1
      = @result.ssr
      = @result.sr
      = @result.r
      = @result.picup_ssr
      = @result.picup_sr
      = @result.picup_r
      %input.data{:class=>"data", :type=>"hidden" , :name=>"data", :value=>@val}
      %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@result.ssr}
      %input.SR{:type=>"hidden" , :name=>"data2", :value=>@result.sr}
      %input.R{:type=>"hidden" , :name=>"data3", :value=>@result.r}
      %input.picup_ssr{:type=>"hidden" , :name=>"data4", :value=>@result.picup_ssr}
      %input.picup_sr{:type=>"hidden" , :name=>"data5", :value=>@result.picup_sr}
      %input.picup_r{:type=>"hidden" , :name=>"data6", :value=>@result.picup_r}
      %input.price{:type=>"hidden" , :name=>"data7", :value=>@result.price}
    .result_form__3
    .result_form__footer
      %a{href: form_path ,class:"Editlink"} 金額入力に戻る<br>
      %a{href: root_path ,class:"Editlink"} トップに戻る<br>
      GachaSimulator2020

